%h2 X3 WATCH

%h3 X3watch records questionable websites 

%p Whenever you access a website that contains inappropriate or pornographic material, the program will record the website, time, and date the site was visited. A person of your choice (an accountability partner) will receive an email containing all inappropriate sites you have visited that week. X3watch PRO gives you the option of just recording the sites you visit, or blocking inappropriate sites so that you can not view them. 


