%h1 X3watch

%p Greetings!

%p
  Your accountability partner, 
  %strong 
    = @user.username
  , has changed some X3watch settings.

%p  
  Listed below are their new settings:
%p
  Username: 
  = @user.username
%p
  Email: 
  = @user.email
%p
  Reporting Day: 
  = Util.num_to_day(@user.report_day)  
  
%p 
  %a(href = "http://www.xxxchurch.com/")XXXchurch.com 
  is a non profit organization that exists to help people of all ages who are being assaulted by pornography. We prevail through awareness, prevention and recovery.
      
%h1 Learn More About Triple X Church
%p
  Support the Ministry and Help Keep X3watch Available! - 
  %a(href = "http://www.xxxchurch.com/donate.html")Donate to X3
  %br
  Keep up to Date with Triple X Church - 
  %a(href = "http://xxxchurch.com/newsletter.html")Sign up for the X3 Newsletter 

%h1 Get More Help
%p
  Overcome Addiction - 
  %a(href = "http://www.x3pure.com/")Check out X3Pure
  %br
  ($5 off with coupon code 'X3watch' - Limited Time Only!)
  %br
  Get the #1 Internet Filter on PC and Mac - 
  %a(href = "http://www.x3watch.com/x3watchpro.html")X3watch Pro
