%h1 X3watch

%p Greetings!

%p
  Your accountability partner, 
  %strong 
    = @user.username
  , has removed your address from the X3watch application on their 
  - if @user.source == "iphone"
    = "iPhone, iPad, or iPod Touch."
  - elsif @user.source == "android"
    = "Android device."
  You will no longer receive regular reports. If they are replacing your address with a different address for you, you will receive a second email from us 

%p
  %a(href = "http://www.x3watch.com") X3watch
  is accountability software provided by 
  %a(href = "http://www.xxxchurch.com/") Triple X Church 
  a non-profit organization which exists to bring awareness, openness, accountability and recovery to the church, society, and individuals in the issues of explicit material.
      
%h1 Learn More About Triple X Church
%p
  Support the Ministry and Help Keep X3watch Available! - 
  %a(href = "http://www.xxxchurch.com/donate.html")Donate to X3
  %br
  Keep up to Date with Triple X Church - 
  %a(href = "http://xxxchurch.com/newsletter.html")Sign up for the X3 Newsletter 

%h1 Get More Help
%p
  Overcome Addiction - 
  %a(href = "http://www.x3pure.com/")Check out X3Pure
  %br
  ($5 off with coupon code 'X3watch' - Limited Time Only!)
  %br
  Get the #1 Internet Filter on PC and Mac - 
  %a(href = "http://www.x3watch.com/x3watchpro.html")X3watch Pro
	
	
 
