!!!
%html
  %head
    %title Porn Addiction - Treatment and Recovery 
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #container
      .wrapper
        .header
          %a.logo{:href => 'www.x3watch.com'}x3watch
        #main
          = yield
      .footer
        .footer-in
          .footer-top
            %h2
              Reminder
            %a.btn-signup{:href => 'http://www.x3watch.com'}SIGNUP
          .footer-desc
            .top
            .mid
              Please see the information listed above for possible questionable websites that may have been visited over the past week(s): Please ask your accountability partner if they have looked at anything questionable
            .bot
        
        
      
        
          